@use "Style/mixins";

@media screen and (min-width: 320px) {
  .comment-mobile-container {
    padding: 16px;
    background-color: var(--white);
    margin: 8px 0px;

    .body-content {
      @include mixins.textStyle(16px, var(--grayish-blue), 400);
      margin: 16px 0;
      line-height: 24px;
      span.user {
        color: var(--moderate-blue);
      }
    }
  }
  .mobile-replies-container {
    width: 100%;
    padding-left: 16px;
    box-sizing: border-box;
    border-left: 2px solid var(--light-gray);
  }
}

@media screen and (min-width: 900px) {
  .comment-mobile-container {
    display: none;
  }
}
