@media screen and (min-width: 320px) {
  .add-comment-mobile-container {
    background-color: var(--white);
    padding: 16px;

    textarea {
      border: 1px solid var(--light-gray);
      color: var(--grayish-blue);
      font-family: inherit;
      width: 100%;
      border-radius: 8px;
      min-height: 96px;
      padding: 20px;
      box-sizing: border-box;
    }

    .footer {
      margin-top: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      img {
        height: 32px;
        width: 32px;
        border-radius: 50%;
      }

      button {
        background: var(--moderate-blue);
        color: var(--white);
        text-transform: uppercase;
        padding: 16px 32px;
        border-radius: 8px;
        border: none;
        font-weight: 500;
      }
    }
  }
}
