@use "Style/mixins";

@media screen and (min-width: 320px) {
  .add-comment-mobile-container {
    background-color: var(--white);
    padding: 16px;
    border-radius: 8px;

    .footer {
      margin-top: 13px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

@media screen and (min-width: 900px) {
  .add-comment-mobile-container {
    display: none;
  }
}
