@use "Style/mixins";

.comment-mobile-header-container {
  display: flex;
  align-items: center;
  gap: 16px;

  .username {
    display: flex;
    gap: 8px;
    align-items: center;

    .text {
      @include mixins.textStyle(16px, var(--dark-blue), 500);
      margin: 0;
    }
    .current-user {
      @include mixins.textStyle(13px, var(--white));
      border-radius: 2px;
      background-color: var(--moderate-blue);
      padding: 2px 6px;
      margin: 0;
    }
  }
  .time {
    @include mixins.textStyle(16px, var(--grayish-blue));
    margin: 0;
  }
}
