@media screen and (min-width: 320px) {
  .app-container {
    font-family: var(--rubik);
    padding: 32px 16px;
  }
}

@media screen and (min-width: 376px) {
  .app-container {
    display: none;
  }
}
