@use "Style/mixins";

.comment-desktop-edit-container {
  margin-top: 16px;

  textarea {
    width: 100%;
    resize: none;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 8px;
    font-family: var(--rubik);
    @include mixins.textStyle(16px, var(--dark-blue));
  }
  .button-container {
    margin-top: 16px;
    display: flex;
    justify-content: flex-end;

    button {
      @include mixins.textStyle(16px, var(--white), 500);
      text-transform: uppercase;
      background-color: var(--moderate-blue);
      padding: 12px 20px;
      border-radius: 8px;
      border: none;
      cursor: pointer;
    }
  }
}
